body {
	background: #222;
	font-family: helvetica, arial, sans-serif;
	margin-top: 80px;
	padding: 30px;
}

h1 {
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 50px;
}

header {
	background-color: #29d9df;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
}

nav li {
	display: inline-block;
	margin: 20px;
	padding-top: 20px;
	position: relative;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}